@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 100%;
}

header,
main,
footer,
body,
#encabezado,
#foto-perfil img,
.flip-card,
.flip-card-inner,
#grilla-conocimientos div {
  width: 100%;
}

header,
main,
section,
main h2 {
  font-weight: 400;
}

header,
footer,
#encabezado,
.hacia-derecha {
  height: 50px;
  background-color: #73626e;
}

#encabezado {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.hacia-derecha {
  margin-left: auto;
  width: 30%;
}

.hacia-derecha h2 {
  font-size: 1em;
  color: white;
  font-weight: 400;
}

footer {
  margin-top: 50px;
}

section {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 2em;
}

main h1 {
  font-size: 2em;
  color: #b38184;
  border-bottom: 1px solid #b38184;
}

main h2 {
  font-size: 1.5em;
}

main p {
  text-align: justify;
  padding-left: 1em;
  padding-right: 1em;
}

#foto-perfil {
  width: 25%;
  height: 25%;
  margin: auto;
}

.iconos,
.hacia-derecha {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#grilla-proyectos {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 45% 45%;
  row-gap: 15px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  height: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 10px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  height: 200px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 2px 3px 6px grey;
}

.flip-card img {
  border-radius: 10px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;
  background-color: #f7e4be;
}

.flip-card h1 {
  font-size: 1.3em;
  color: black;
  border-color: black;
  margin-bottom: 0;
}

.flip-card p {
  font-size: 0.9em;
  color: black;
}

.abajo {
  margin-top: auto;
}

#grilla-conocimientos {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 20% 20% 20% 20%;
  row-gap: 15px;
}

.flip-card-back,
#grilla-conocimientos div {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#grilla-conocimientos div {
  align-items: center;
}

#grilla-conocimientos img {
  width: 40%;
}

#grilla-conocimientos h2 {
  font-size: 0.9em;
  color: black;
  margin-top: auto;
  margin-bottom: 0;
}

a {
  border-radius: 30px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
svg {
  background-color: #ffffff;
  fill: black;
}

.flip-card-back a {
  background-color: #f7e4be;
}
.flip-card-back svg {
  background-color: #f7e4be;
}
a:hover {
  background-color: #b38184;
}

a:hover svg {
  background-color: #b38184;
  fill: black;
}

@media (max-width: 1000px) {
  header,
  body {
    font-size: 90%;
  }
  section {
    width: 70%;
  }
}

@media (max-width: 850px) {
  header,
  body {
    font-size: 90%;
  }
  section {
    width: 80%;
  }
}

@media (max-width: 756px) {
  header,
  body {
    font-size: 80%;
  }

  .hacia-derecha {
    width: 50%;
  }

  section {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .hacia-derecha {
    width: 70%;
  }
  section {
    width: 90%;
  }

  #grilla-proyectos {
    grid-template-columns: 70%;
  }

  #grilla-conocimientos {
    grid-template-columns: 20% 20% 20%;
  }
  #grilla-conocimientos img {
    width: 50%;
  }
}

@media (max-width: 300px) {
  .hacia-derecha {
    width: 70%;
  }
  section {
    width: 90%;
  }

  #grilla-proyectos {
    grid-template-columns: 90%;
  }

  #grilla-conocimientos {
    grid-template-columns: 20% 20%;
  }
  #grilla-conocimientos img {
    width: 70%;
  }
}


